body {
    font-family: sans-serif;
}

.formContainer {
    margin-top: -300px;
    margin-left: 10px;
}
input {
    line-height: 1.5;
    margin: 5px;
    width: 300px;

}

button {
    font-size: 14px;
    margin: 5px;
}
